*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

main{

    width: 100%;
    height: 100vh;
    background-color: whitesmoke;

}   


/* -----------Vai na Web-------------- */

.vainaweb{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.logo-box{

    width: 70%;
    padding: 2% 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0 0 1vw 1vw;
    background-color: #1E4A92;
    position: relative;
}

.logo-vnw{
    width: 25%;
}

.vnw{
    width: 100%;
    animation: 2s forwards slide ;
    animation-delay: 1s;
    opacity: 0%;

}

.vnw:hover{

    transform: scale(1.1);

}


.nav{

    width: 4%;
    margin-top: 1.5%;
}

.rod{

    width: 30%;
    height: 0.4vh;
    margin-top: 1%;
    background-color: #FFAD30;
}



@keyframes slide {

    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
    
}
/* ---------Vnw Box---------------- */

.vnw-box{

    padding: 1% 0 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.vai-text{

    font-size: 1.5vw;
    padding: 3% 0% 1% 0;
    text-align: center;
    font-weight: bolder;
    color: black;
    
}

.vnw-container{

    width:100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}

/* -----------Options------------- */

.responsive{

    width: 22%;
    height: 100%;
    margin-right:1.5% ;
    border-radius: 1vw;
    padding: 2% 2% 1.5% 2%;
    background-color: darkblue;
}

.responsive:hover{
    transform: scale(1.05);
}



.interactivity{
    width: 22%;
    height: 100%;
    margin-right:1.5% ;
    border-radius: 1vw;
    padding: 2% 2% 1.5% 2%;
    background-color: darkblue;
}

.interactivity:hover{
    transform: scale(1.05);
}


.architecture{
    width: 22%;
    height: 100%;
    border-radius: 1vw;
    padding: 2% 2% 1.5% 2%;
    background-color: darkblue;
}

.architecture:hover{
    transform: scale(1.05);
}


.titles{

    width: 100%;
    padding: 2% 0 2% 0 ;
    font-size: 1.1vw;

    display: flex;
    justify-content: space-around;
    align-items: center;

    color: #FFAD30;
}

.number{

    width:9%;

    text-align: center;
    
    border-radius: 50%;
    border:solid 0.2vw ;
    background-color: #FFAD30;
    color: white;
}

.text-vnw{
    font-size: 1.3vw;
    padding: 8% 0 4% 0;
    text-align: center;
    color:white;

}

.js{
    padding: 8% 0 4% 0;
    font-size: 1.3vw;
    text-align: center;
    color:white;
}

.language-box{

    width:100%;
    text-align: center;
  
}

.language{

    width: 25%;
    padding: 1%;
    margin: 2% 0 10% 0;
    font-size: 1vw;

    background-color:#FFAD30;
    color: white;

    border-radius: 2vw;
    border: none;
    /* box-shadow: 0.4vw 0.6vh 0.5vw rgba(0, 0, 0, 0.527);*/
}

.language:hover{
    background-color: #ffac30d8;
}

.project-container{

    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-around;

}

.btn-project{
    width: 45%;
    height: 100%;
}

.project{

    width: 100%;
    padding: 4.5% 0;

    border: none;
    font-size: 1.1vw;

    background:transparent;
    color: white;
    border-top: solid #FFAD30 0.5vh;
    border-bottom: #FFAD30 0.5vh solid;

    position: relative;
}

.project::before{

    content: '';
    width: 0%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    background-color:#FFAD30 ;
    transition: all .8s ease;
    z-index: -1;
    
}

.project:hover::before{

    width: 100%;
    color: black;

}


@media(max-width:500px){

    main{
        height: 100%;
    }

    .vnw-box{
        width: 95%;
    }

    .nav{
        width: 10%;
    }

    .vai-text{
        width:60%;
        padding: 8% 0 5% 0;
        font-size: 4vw;
        text-align: center;

    }

    .vnw-container{
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .responsive{
        width: 80%;
        margin-bottom: 5%;
    }

    .interactivity{
        width: 80%;
        margin-bottom: 5%;
    }

    .js{
        font-size: 4vw;
        text-align: center;
    }

    .architecture{
        width: 80%;
        margin-bottom: 5%;
    }

    .titles{
        width: 100%;
        font-size: 4vw;
    }

    .text-vnw{
        width: 95%;
        font-size: 4vw;
        padding: 2%;
        text-align: center;
    }

    .language{
        font-size: 3.5vw;
        border-radius:3vw ;
    }

    .project{
        font-size: 3vw;
        margin-bottom:2% ;
    }
}